<!-- ========== MAIN CONTENT ========== -->
<!-- Content -->
<div class="w-full pt-10 px-4 sm:px-6 md:px-8 lg:pl-72">
  <!-- Page Heading -->
  <header>
    <% flash.each do |type, msg| %>
      <div class="text-center w-[70%] mx-auto mb-2">
        <%= content_tag :div, msg, class: build_alert_classes(type) %>
      </div>
    <% end %>
    <p class="mb-2 text-sm font-semibold text-blue-600">Welcome To Simple Cash</p>
    <h1 class="block text-2xl font-bold text-gray-800 sm:text-3xl dark:text-white">
      You Can Top-Up and Transfer Money Any Time!
    </h1>
    <p class="mt-2 text-lg text-gray-800 dark:text-gray-400">This is a simple way of managing and transfering money electronically</p>
  </header>
  <!-- End Page Heading -->
</div>
<!-- End Content -->
<!-- ========== END MAIN CONTENT ========== -->
