<div class="max-w-[90%] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto lg:mb-[10rem]" id="services">
  <!-- Grid -->
  <div class="grid md:grid-cols-2 gap-12">
    <div class="lg:w-3/4">
      <h2 class="text-3xl text-gray-800 font-bold lg:text-4xl dark:text-white">
        Our Services
      </h2>
      <p class="mt-3 text-gray-800 dark:text-gray-400">
        Manage your finances from anywhere, at any time. Simple & intuitive interface making it easy to top-up & send money to your friends, and keep track of your transaction history.
      </p>
    </div>
    <!-- End Col -->

    <div class="space-y-6 lg:space-y-10">
      <!-- Icon Block -->
      <div class="flex">
        <!-- Icon -->
        <span class="flex-shrink-0 inline-flex justify-center items-center w-[46px] h-[46px] rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm mx-auto dark:bg-slate-900 dark:border-gray-700 dark:text-gray-200">
          <i class="fa-solid fa-sack-dollar"></i>
        </span>
        <div class="ml-5 sm:ml-8">
          <h3 class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200">
            Top-up:
          </h3>
          <p class="mt-1 text-gray-600 dark:text-gray-400">
            Quickly and easily add credit to your phone, so you can stay connected wherever you go.
          </p>
        </div>
      </div>
      <!-- End Icon Block -->

      <!-- Icon Block -->
      <div class="flex">
        <!-- Icon -->
        <span class="flex-shrink-0 inline-flex justify-center items-center w-[46px] h-[46px] rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm mx-auto dark:bg-slate-900 dark:border-gray-700 dark:text-gray-200">
          <i class="fa-solid fa-money-bill-transfer"></i>
        </span>
        <div class="ml-5 sm:ml-8">
          <h3 class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200">
            Transfer:
          </h3>
          <p class="mt-1 text-gray-600 dark:text-gray-400">
            Send money to other SimpleCash users with just a few clicks, and get notified as soon as your transfer is complete.
          </p>
        </div>
      </div>
      <!-- End Icon Block -->

      <!-- Icon Block -->
      <div class="flex">
        <!-- Icon -->
        <span class="flex-shrink-0 inline-flex justify-center items-center w-[46px] h-[46px] rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm mx-auto dark:bg-slate-900 dark:border-gray-700 dark:text-gray-200">
          <i class="fa-solid fa-receipt"></i>
        </span>
        <div class="ml-5 sm:ml-8">
          <h3 class="text-base sm:text-lg font-semibold text-gray-800 dark:text-gray-200">
            Transaction history: 
          </h3>
          <p class="mt-1 text-gray-600 dark:text-gray-400">
            Keep track of all your SimpleCash transactions, so you can stay on top of your finances.
          </p>
        </div>
      </div>
      <!-- End Icon Block -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
