<div class="font-['ubuntu']">
  <!-- Hero Section -->
  <%= render "hero" %>
  <!-- End Of Hero Section -->

  <!-- Services Section -->
  <%= render "services" %>
  <!-- End Of Services Section -->

  <!-- About Us Section -->
  <%= render "about" %>
  <!-- End Of About Us Section -->
</div>
