<!-- ========== MAIN CONTENT ========== -->
<!-- Content -->
<div class="w-full pt-10 px-4 sm:px-6 md:px-8 lg:pl-72">
  <!-- Page Heading -->
  <header>
    <h1 class="block text-2xl font-bold text-gray-800 sm:text-3xl dark:text-white text-center mb-12">Top Up!</h1>
    <!-- Form -->
    <%= form_with(model: @top_up, url: top_ups_path) do |f| %>
      <% flash.each do |type, msg| %>
        <div class="text-center w-[70%] mx-auto mb-2">
          <%= content_tag :div, msg, class: build_alert_classes(type) %>
        </div>
      <% end %>
      <div class="mx-auto max-w-2xl sm:flex sm:space-x-3 p-3 bg-white border rounded-lg shadow-lg shadow-gray-100 dark:bg-slate-900 dark:border-gray-700 dark:shadow-gray-900/[.2]">
        <div class="pb-2 sm:pb-0 sm:flex-[1_0_0%]">
          <label for="hs-hero-name-1" class="block text-sm font-medium dark:text-white"><span class="sr-only">Amount To Top Up (In Ksh)</span></label>
          <%= f.number_field :amount, autofocus: false, autocomplete: "off", class: "py-3 px-4 block w-full border-transparent rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 sm:p-4 dark:bg-slate-900 dark:border-transparent dark:text-gray-400", placeholder: "Amount To Top Up (In Ksh)" %>
          <%= f.hidden_field :phone_number, value: current_user[:phone_number] %>
        </div>
        <div class="pt-2 sm:pt-0 grid sm:block sm:flex-[0_0_auto]">
          <button type="submit" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm sm:p-4 dark:focus:ring-offset-gray-800">
            Top Up
          </button>
        </div>
      </div>
    <% end %>
    <!-- End Form -->
  </header>
  <!-- End Page Heading -->
</div>
<!-- End Content -->
<!-- ========== END MAIN CONTENT ========== -->
